.main-page {
    width: 100%;

    .account-item {
        &-title {
            font-size: 20px;
            padding: 15px 0;
            padding-top: 30px;
            border-bottom: 1px solid #cccccc;

            .buttons-box {
                width: 200px;
                float: right;
                display: flex;
                justify-content: space-between;

                button {
                    width: 90px;
                }
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .api-item {
                padding: 0 15px;
                margin-top: 20px;
                width: 30%;
                box-sizing: border-box;
                

                &-wrapper {
                    border: 1px solid #cccccc;
                }
                    
                
            }
            &:after {
                content: '';
                display: block;
                width: 30%;
            }
        }

        .notificationBoxLoading {
            color: chocolate;
        }

        .notificationBoxError {
            color: firebrick;
        }
    }
}