.main-page {
    width: 100%;
    text-align: center;

    .main-page-accounts {
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    .main-page-divider {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .rightBtnIcon {
        margin-left: 5px;
    }
}