.entries-tree {
    .tree-resource-header-first {
        align-items: center;
        display: flex;
    }

    .tree-source-element-details {
        flex-direction: column;
        padding: 0 0 5px 24px;

        .tree-method {
            margin: 5px 0 5px 0;

            .method-head-first {
                flex-basis: 10%;
                flex-shrink: 0;

                p {
                    display: inline-block;
                    border-radius: 3px;
                    padding: 5px 15px;
                    color: white;
                    font-weight: bold;
                    background-color: #D5DBDB;
                }
            }

            .tree-method-header {
                & > div{
                    align-items: center;
                }
            }

            .method-head-first {
                color: grey;
            }

            .tree-method-detail {
                width: 100%;
                display: flex;
                .tree-method-detail-column {
                    flex-basis: 50%;
                }
            }
        }

        .tree-method-type-GET {
            border: 1px solid #5DADE2;
        }

        .tree-method-header-type-GET {
            background-color: #EBF5FB;

            .method-head-first {
                p {
                    background-color: #5DADE2;
                }
            }
        }

        .tree-method-type-POST {
            border: 1px solid #48C9B0;
        }

        .tree-method-header-type-POST {
            background-color: #E8F8F5;

            .method-head-first {
                p {
                    background-color: #48C9B0;
                }
            }
        }

        .tree-method-type-PATCH {
            border: 1px solid #F4D03F;
        }

        .tree-method-header-type-PATCH {
            background-color: #EFEF9E;

            .method-head-first {
                p {
                    background-color: #F4D03F;
                }
            }
        }

        .tree-method-type-PUT {
            border: 1px solid #DC7633;
        }

        .tree-method-header-type-PUT {
            background-color: #FBEEE6;

            .method-head-first {
                p {
                    background-color: #DC7633;
                }
            }
        }

        .tree-method-type-DELETE {
            border: 1px solid #EC7063;
        }

        .tree-method-header-type-DELETE {
            background-color: #FDEDEC;

            .method-head-first {
                p {
                    background-color: #EC7063;
                }
            }
        }

        .tree-method-type-HEAD {
            border: 1px solid #5D6D7E;
        }

        .tree-method-header-type-HEAD {
            background-color: #EBEDEF;

            .method-head-first {
                p {
                    background-color: #5D6D7E;
                }
            }
        }

        .tree-method-type-OPTIONS {
            border: 1px solid #D0D3D4;
        }

        .tree-method-header-type-OPTIONS {
            background-color: #FDFEFE;

            .method-head-first {
                p {
                    background-color: #D0D3D4;
                }
            }
        }
    }

    .tree-resource-expanded { 
        margin: 0;
    }

    .tree-resource-header {
        background: rgba(0, 0, 0, .05);
        &>div {
            justify-content: space-between;
        }

    }
}